@font-face {
  font-family: 'Cocogoose';
  src: url('./fonts/Cocogoose-Pro-trial.ttf') format('truetype');
}

/* lato-regular - latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v17-latin-regular.woff2') format('woff2'), url('./fonts/lato-v17-latin-regular.woff') format('woff');
}

/* lato-700 - latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v17-latin-700.woff2') format('woff2'), url('./fonts/lato-v17-latin-700.woff') format('woff');
}

/* lato-900 - latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/lato-v17-latin-900.woff2') format('woff2'), url('./fonts/lato-v17-latin-900.woff') format('woff');
}
