.icons {
  &__1 {
    position: absolute;
    top: 2vh;
    left: 5%;
  }
  &__2 {
    position: absolute;
    top: 5vh;
    left: 40%;
  }
  &__3 {
    position: absolute;
    top: 25vh;
    left: 80%;
  }
  &__4 {
    position: absolute;
    top: 50vh;
    left: 18%;
  }
  &__5 {
    position: absolute;
    top: 50vh;
    left: 80%;
  }
  &__6 {
    position: absolute;
    top: 50vh;
    left: 80%;
  }
  &__7 {
    position: absolute;
    top: 30vh;
    left: 10%;
  }
  &__8 {
    position: absolute;
    top: 27vh;
    left: 35%;
  }
  &__9 {
    position: absolute;
    top: 80vh;
    left: 20%;
  }
  &__10 {
    position: absolute;
    top: 80vh;
    left: 70%;
  }
}
