.partner {
  background-color: $third;
  text-align: center;

  &__title {
    color: $white;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    filter: grayscale(1);
    gap: 5%;
  }

  &__item {
    width: 30%;
    height: auto;
    margin-bottom: 5%;
  }
}

@media (min-width: 768px) {
  .partner__item {
    margin-bottom: 0;
    flex: 1;
  }
}
