.title {
  position: relative;
  padding: 15% 5% 10% 5%;

  &__slogan {
    color: $primary;
    font-size: 1.2em;
    margin-bottom: 0.6em;
  }

  &__p {
    background: $bg-primary;
    padding: 0.5em;
    border: 4px solid#fff;
    margin: 2em 0;
  }

  &__address {
    margin-top: 0.6em;
  }
}

.title::after {
  position: absolute;
  z-index: -1;
  content: '';
  background: url('../img/background.jpg') no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
