.nav {
  background: $white;
  z-index: 20;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 50%;
  bottom: 0;
  top: 0;
  align-items: center;
  display: flex;
  border-right: 2px solid $primary;

  &--mobile-hidden {
    display: none;
  }

  &__logo {
    width: 80%;
    height: auto;
    margin: 10%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }

  &__link {
    font-size: 0.8em;
    padding: 0.4em 2em;
    cursor: pointer;
    box-sizing: content-box;
  }

  .nav__close {
    align-self: flex-end;
    margin-right: 10px;
    color: $third;
  }

  &__link--border {
    border: 4px solid $primary;
  }

  &__link:hover {
    @include transition(color, 0.6s, ease-in-out);
    @include transition(background, 0.3s, ease-in-out);

    background: $primary;
    color: $white;
  }
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    animation: none !important;
    padding: 0.5% $section-padding-desktop;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 5px rgba($color: $third, $alpha: 0.5);
    position: sticky;
    top: 0;
    flex-direction: row;
    border-right: 0;
  }

  .nav__logo {
    width: 70%;
    height: auto;
    margin: 0;
  }

  .nav__close {
    display: none;
  }

  .nav__list {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .nav__item {
    margin-left: 3%;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding: 0.5% $section-padding-desktop-large;
  }
}
