/**
 * Globals
 */

@font-face {
  font-family: 'Cocogoose';
  src: url('./fonts/Cocogoose-Pro-trial.ttf') format('truetype');
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('./fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $body-text-color;
  background: $body-bg-color;
  line-height: $body-line-height;
  margin: 0;

  * {
    margin: 0;
    padding: 0;
  }
}

header {
  display: unset;
}

a {
  color: $link-color;
  font-weight: $link-weight;
  text-decoration: none;
}

li {
  list-style-type: none;
}

section,
footer {
  padding: $section-padding-mobile;
}

button {
  text-decoration: none;
  display: inline-block;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  background: none;
  cursor: pointer;
}

hr {
  width: 10%;
  margin: 3% auto;
  color: $primary;
}

.global-hamburger {
  @include hover(color, $third);

  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 5%;
}

.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.coco {
  font-family: $coco-font;
}

@media (min-width: 768px) {
  body {
    font-size: 120%;
  }

  section,
  footer {
    padding: 5% $section-padding-desktop;
  }

  .global-hamburger {
    display: none;
  }
}

@media (min-width: 1200px) {
  section,
  footer {
    padding: 5% $section-padding-desktop-large;
  }

  body {
    font-size: 140%;
  }
}
