.layout-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: stretch;

  &__column {
    flex-basis: 768px;
  }
}

@media (min-width: 768px) {
  .layout-grid__column {
    width: 48%;
    flex-basis: auto;
  }
}

@media (min-width: 1200px) {
  .layout-grid--col-features {
    flex: 1;
    display: flex;
  }

  .layout-grid--features {
    gap: 1%;
  }
}
