/**
 * Globals
 */

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $body-text-color;
  background: $body-bg-color;
  line-height: $body-line-height;
  margin: 0;

  * {
    margin: 0;
    padding: 0;
  }
}

a {
  color: $link-color;
  font-weight: $link-weight;
  text-decoration: none;
}

li {
  list-style-type: none;
}

section,
footer {
  padding: $section-padding-mobile;
}

button {
  text-decoration: none;
  display: inline-block;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  background: none;
  cursor: pointer;
}

hr {
  width: 10%;
  margin: 3% auto;
  color: $primary;
}

.global-hamburger {
  @include hover(color, $third);

  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 5%;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  body {
    font-size: 150%;
  }

  section,
  footer {
    padding: 5% $section-padding-desktop;
  }

  .global-hamburger {
    display: none;
  }
}

@media (min-width: 1200px) {
  section,
  footer {
    padding: 5% $section-padding-desktop-large;
  }
}
