.layout-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  justify-content: center;

  &__column {
    flex-basis: 768px;
  }
}

@media (min-width: 768px) {
  .layout-grid__column {
    width: 48%;
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .layout-grid--features {
    flex: 1;
  }
}
